<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>api-site</title>
</head>
<body>
<h2>API站点管理</h2>
<form action="http://127.0.0.1:8000/api/" method="post">
<select name="apisite">
    <option  value="BengBu_Inside">蚌埠</option>
    <option  value="GuoTou_Inside">国投</option>
</select>
<select name="action">
    <option  value="start">开启</option>
    <option  value="stop">关闭</option>
</select>
    <br>
    <input type="submit" value="执行">
</form>
<img href="static/assets/css/img/bei.png" alt="hha">

</body>
</html>