<html>
<head>
        <link rel="stylesheet" type="text/css" href=/static/assets/css/boot3.css />
        <style>
                    #test{
            position: absolute;
            left: 302px;
            top: 167px;
            width: 50%;
            height: 50%;


        }
        </style>



</head>
<body>

<div id="test">
    <form action="index.html" method="post" class="definewidth m20">
    <table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">资产标签</td>
        <td><input id="name" type="text" name="username"/></td>
        <td width="10%" class="tableleft">保管人</td>
        <td><input id="passwd" type="text" name="password"/></td>
    </tr>

    <tr>
        <td  class="tableleft">保管人</td>
        <td><input id="passwd" type="text" name="password"/></td>
         <td class="tableleft">品牌</td>
        <td><input id="brand" type="text" name="realname"/></td>
    </tr>

    <tr>
        <td class="tableleft">品牌</td>
        <td><input id="brand" type="text" name="realname"/></td>
        <td class="tableleft">数量</td>
        <td><input id="num" type="text" name="email"/></td>
    </tr>

    <tr>
        <td class="tableleft">数量</td>
        <td><input id="num" type="text" name="email"/></td>
                <td class="tableleft">资产原值</td>
        <td><input id="yuanzhi" type="text" name="email"/></td>
    </tr>


     <tr>
        <td class="tableleft">购进时间</td>
        <td><input id="yuanzhi" type="text" name="email"/></td>
         <td class="tableleft">资产类型</td>
        <td><input id="atype" type="text" name="email"/></td>
    </tr>

    <tr>
        <td class="tableleft">状态</td>
        <td>
            <input type="radio" name="status" value="1" checked/> 闲置
           <input type="radio" name="status" value="0"/> 在用
        </td>
                <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>


    </table>
</form>
</div>


</body>>
</html>